#contact iframe
{
    width: 100%;
}

.viagem-mainDiv{
    border: 1px solid lightgrey;
}

.viagem-mainDiv img{
    width: 100%;
}

.viagem-mainDiv h5 , .viagem-mainDiv p{
    margin: 20px;
}

.filmesHead{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.filmesHead i{
    float: right;
}

.filmesText span{
    color: orange;
}

.livros{
    margin-bottom: 10px;
}

#contact iframe{
    width: 100%;
}